html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2{
  text-align: center;
}
header{
  text-align: center;
}

header li{
  list-style: none;
}

header ul{
  display: flex;
  justify-content: space-around;
}
header p{
  font-size: 30px;
  font-weight: 700;
}

@media screen and (min-width:890px){
  header p {
    font-size: 60px
  }
  article.main-content p{
    font-size: 20px;
  }
  .aside-one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }
  .aside-one li{
  list-style: none;
  font-size: 20px;
  }
  .aside-two{
    display: flex;
    flex-direction: column;
  }
  .aside-two h2{
    text-align: left;
    padding: 0 10px;
  }
}