#botao{
  display:inline-block;
  height: 500px;
  width: 20%;
  position: absolute
}

#texto{
  display: inline-block;
  height: 500px;
  width: 70%;
  padding-right: 50px;
  padding-left: 15px;
}

#fundo {
  background-color: coral;
}
#cor {
  background-color: aquamarine;
}

span {
  font-size: 20px;
  display: block;
  
}